/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/
/tests/
/vendor/
/.editorconfig
/.env
/.env.example
/.gitattributes
/.gitignore
/.styleci.yml
/artisan
/composer.json
/composer.lock
/docker-compose.yml
/package.json
/phpunit.xml
/README.md
/server.php
/webpack.mix.js
/config/
/bootstrap/
